.pagetitle{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: blue;
}
.innerpagetitle{
    font-size: 36px;
}
.innersubtitle{
    font-size: 32px;
}

.u-lists{
    font-size: 20px;
}

.makecenter, p, em, strong{
    text-align: center;
    align-items: center;
}
.desc{
    font-size: 20px;
    color: black;
    background-color: rgb(236, 235, 235);
}
.img{
    background-color: black;
}
.innerlist{
    font-size: 18px;
    background-color: rgb(236, 235, 235);
}
